.AddonLoadingRoot
{
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: clip;
}

.StaticBackground {
  width: 100%;
  height: 100%;
}

.Background {
  width: 100%;
  height: 100%;
}

.ScrollingBackground {
  vertical-align: bottom;
  transform-origin: 50% 0%;

  animation-timing-function: linear;
  animation-iteration-count: 1;
}

#ObeliskA
{
  width: 50%;
  
  pre-transform-scale2d: 1.0;
  animation-name: obelisk_a;
  animation-duration: 50s;
}

#ObeliskB
{
  width: 50%;
  
  horizontal-align: center;
  animation-name: obelisk_b;
  animation-duration: 50s;
}

@keyframes 'obelisk_a'
{
  0%
  {
    transform: translateX( 800px );
    pre-transform-scale2d: 1.3;
  }

  2%
  {
    transform: translateX( 150px );
    pre-transform-scale2d: 1.0;
  }

  100%
  {
    transform: translateX( -100px );
  }

  
}
@keyframes 'obelisk_b'
{
  0%
  {
    transform: translateX( -600px );

    opacity: 0.5;
  }

  2%
  {
    transform: translateX( 75px );

    opacity: 1;
  }
  100%
  {
    transform: translateX( 300px );
  }
}