@keyframes 'slot_anim_l'
{
  0%
  {
	x: 0px;
	y: 400px;
  }

  80%
  {
	x: 0px;
	y: 75px;
  }

  100%
  {
	x: -75px;
	y: 75px;
  }
}

@keyframes 'slot_anim_r'
{
  0%
  {
	x: 0px;
	y: 400px;
  }

  80%
  {
	x: 0px;
	y: 75px;
  }

  100%
  {
	x: 75px;
	y: 75px;
  }
}

.BuffListRoot
{
	width: 100%;
	height: 100%;

	visibility: visible;

	z-index: -1;
}

#equip_list
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 275px;
	margin-right: 0px;

	width: 325px;
	height: 300px;
}

.HiddenBuff
{
	y: 400px;
	x: 0px;
}

.torso
{
	y: 0px;
	x: 0px;
}

.boots
{
	y: 225px;
}

.pants
{
	y: 150px;
}

.gloves
{
	y: 75px;
}

.sword,
.gun,
.axe,
.staff,
.bow,
.ring2
{
	x: -75px;
	y: 75px;

	animation-name: slot_anim_l;
	animation-delay: 0s;
	animation-duration: 0.4s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

.sword2,
.axe2,
.ring,
.shield
{
	x: 75px;
	y: 75px;

	animation-name: slot_anim_r;
	animation-delay: 0s;
	animation-duration: 0.4s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}


.BuffRoot
{
	horizontal-align: center;
	margin: 0px;
	/*margin-right: 10px;*/
	/*border-radius: 3px;*/

		transition-property: position;
	transition-duration: .4s;
	transition-timing-function: ease-in-out, linear;
}

.no_buff.BuffRoot
{
	visibility: collapse;
}

#BuffFrame
{
	background-image: url('file://{images}/custom_game/ingame_ui/slot.png');
	background-size: 100% 100%;
}

.is_debuff #BuffFrame
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #a54518 ), to( #652908 ) );
}

#StackCount
{
	text-shadow: 0px 0px 6px 6 #000000;
	margin: 2px;
	vertical-align: bottom;
	horizontal-align: right;
	font-size: 18px;
	font-family: Goudy Trajan Medium;
	color: white;
	visibility: collapse;
}

.has_stacks #StackCount
{
	visibility: visible;
}

#BuffImage
{
	width: 65px;
	height: 65px;

	background-position: 50% 50%;
}

#AbilityImage,
#ItemImage,
#BuffFrame
{
/*	border-top:		2px solid #000000CC;
	border-bottom:	2px solid #FFFFFF22;
	border-left:	2px solid #000000CC;
	border-right:	2px solid #FFFFFF22;*/
}

#BuffFrame
{
/*	border-top:		2px solid #FFFFFF22;
	border-bottom:	2px solid #000000CC;
	border-left:	2px solid #FFFFFF22;
	border-right:	2px solid #000000CC;*/
}

#AbilityImage
{
	width: 100%;
	height: 100%;
}
.item_buff #AbilityImage
{
	visibility: collapse;
}

#ItemImage
{
	width: 90%;
	height: 90%;

	horizontal-align: center;
	vertical-align: center;

	visibility: collapse;
}