.GameSetupLabel {
	background-color: transparent;

	text-shadow: 4px 4px 17px black;
	font-size: 23px;

	line-height: 18px;

	text-overflow: clip;
	text-align: center;

	color: #ffffffbb;

	margin: 25px;
	margin-left: 183px;
	margin-right: 183px;

	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
}

.GameSetupRoot {
	width: 100%;
	height: 100%;
}

.PlayerRoot {
	width: 550px;
	height: 181px;
}

#GameSetupInfo {
	align: center top;
	height: 300px;
	margin-top: 35px;
}

#Logo {
	vertical-align: top;

	background-image: url('file://{images}/custom_game/ingame_ui/logo.png');

	width: 201px;
	height: 250px;
}

#TimeOffset {
	height: 100%;
	width: 100%;
	align: center bottom;
}

#TimeLabel {
	align: center bottom;
	font-family: RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-size: 35px;
	text-align: left;
	color: white;
	text-shadow: 0px 0px 8px 3.0 #333333b0;
}

.AlignLeft {
	horizontal-align: left;
	text-align: left;
}

.AlignRight {
	horizontal-align: right;
	text-align: right;
}

.PlayerFrame {
	width: 352px;
	height: 181px;

	background-image: url("file://{images}/custom_game/gamesetup_player.png");
	background-repeat: no-repeat;
	background-size: 352px 181px;
}

.Flipped {
	transform: scale3d( -1, 1, 1);
}

.FramePadding {
	margin-left: 60px;
	margin-right: 60px;
}

.PlayerList {
	flow-children: down;

	margin: 40px;
}

.Avatar {
	width: 168px;
	height: 168px;

	vertical-align: center;

	opacity-mask: url("file://{images}/custom_game/gamesetup_avatar_mask.png");

	background-color: #1c221b;
}

#Avatar {
	transform: scale3d( 1, 1, 1);
}

.PlayerStatus {
	width: 352px;
	height: 181px;

	background-repeat: no-repeat;
	background-size: 100% 100%;

	vertical-align: center;
}

.StatusDisconnected {
	background-image: url("file://{images}/custom_game/gamesetup_status_no.png");
}

.StatusReady {
	background-image: url("file://{images}/custom_game/gamesetup_status_ready.png");
}

.StatusConnected {
	background-image: url("file://{images}/custom_game/gamesetup_status_connected.png");
}

.NameLabel {
	vertical-align: center;
	margin-bottom: 80px;

	font-size: 18px;

	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
}

.StatusLabel {
	vertical-align: center;
	margin-top: 0px;
	margin-bottom: 1px;

	min-width: 200px;

	font-size: 17px;

	color: white;
}

#HeroPreviewRoot {
	align: center center;

	height: 600px;
	width: 600px;
}

#HeroPreview {
	width: 100%;
	height: 100%;
}