.SettingsRoot {
	align: center center;

	width: 436px;
	height: 580px;

	border-radius: 5px;
}

#Checkboxes {
	margin: 30px;
	flow-children: down;
}

#Background {
	width: 436px;
	height: 580px;

	background-image: url('file://{images}/custom_game/ingame_ui/settings_bg.png');
}

#CloseButton {
	width: 74px;
	height: 74px;
}