.ObjectiveHeadline {
	text-shadow: 1px 1px 14px black;
	text-align: center;
	text-transform: uppercase;
	text-overflow: clip;

	font-weight: bold;
	font-size: 30px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
	color: #ffffffcc;

	horizontal-align: center;
}

.Objectives {
	margin: 60px;
	
	flow-children: down;
}

.Objective
{
	background-color: transparent;

	text-shadow: -1px -1px 0px 0.0 #ffffffff;
	text-align: center;

	box-shadow: #000000ff -1px -1px -1px;

	font-weight: normal;
	font-size: 20px;
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	color: #ffffffcc;

	horizontal-align: center;
}

.CBR {
	horizontal-align: center;
	width: 90%;
	height: 1px;

	/*border-top: 1px solid #ffffff44;*/
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), color-stop( 0.4, #ffffff ), color-stop( 0.6, #ffffff ), to( #ffffff00 ) );

	margin-bottom: 14px;
	margin-top: 6px;
}

/* Boss HP Bar */

.BossHPRoot {
	vertical-align: top;
	horizontal-align: center;

	margin-top: 50px;

	width: 1000px;
	height: 100px;
}

.BossHPBar {
	width: 1000px;
	height: 50px;

	border: 3px solid #222222FF;
	border-radius: 2px;

	vertical-align: bottom;
	horizontal-align: left;

	overflow: clip clip;
}

.HPBarElement {
	-s2-mix-blend-mode: screen;
	background-repeat: repeat repeat;

	horizontal-align: center;

	animation-delay: 0.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	width: 1256px;
	height: 256px;

	opacity: 0.5;
}

#BossHPLabel {
	vertical-align: bottom;
	margin-bottom: 14px;

	font-size: 20px;
}

#BossName {
	text-shadow: 0px 0px 8px 3.0 #333333b0;

	font-size: 40px;
}

#HPBar1 {
	background-image: url("file://{images}/custom_game/ingame_ui/spheres/hp_1.png");

	opacity: 1.0;

	animation-name: bar_horizontal;
	animation-duration: 10.0s;
}
#HPBar2 {
	background-image: url("file://{images}/custom_game/ingame_ui/spheres/hp_2.png");

	animation-name: bar_horizontal_back;
	animation-duration: 20.0s;
}
#HPBar3 {
	background-image: url("file://{images}/custom_game/ingame_ui/spheres/hp_3.png");

	animation-name: bar_horizontal;
	animation-duration: 15.0s;
}