ToggleButton, DOTASettingsCheckbox {
	flow-children: right;
	padding: 1px 4px;
	color: white;

	margin-top: 20px;
	margin-left: 10px;

	transition-property: background-color, box-shadow, color;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

ToggleButton .TickBox, DOTASettingsCheckbox .TickBox {
	vertical-align: center;

	background-color: black;
	border: 2px solid #5e686966;
	box-shadow: #00000055 -2px -2px 1px 4px;

	transition-property: background-color, box-shadow, color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;	
}

ToggleButton:hover .TickBox, DOTASettingsCheckbox:hover .TickBox {
	border: 2px solid #697879;
}

ToggleButton:selected .TickBox, DOTASettingsCheckbox:selected .TickBox {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #e7f6f5 ), to( #a0d6d7 ) );
	border: 3px solid #000000;
	box-shadow: #5b62bf77 -4px -4px 8px 8px;
}

.CheckBox .TickBox {
	width: 30px;
	height: 30px;
}

ToggleButton Label, DOTASettingsCheckbox Label {
	margin-top: 4px;
	margin-left: 8px;
	font-size: 18px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
}

.SettingsRoot {
	align: center center;

	width: 432px;
	height: 579px;
}

#Checkboxes {
	margin: 30px;
	flow-children: down;
}

#Background {
	width: 432px;
	height: 579px;

	background-image: url('file://{images}/custom_game/ingame_ui/settings_bg.png');
}

#CloseButton {
	width: 74px;
	height: 74px;
}