@keyframes 'exp_bar_horizontal'
{
  0%
  {
	transform: translateX(0px);
  }

  100%
  {
	transform: translateX(-1000px);
  }
}

@keyframes 'exp_bar_horizontal_back'
{
  0%
  {
	transform: translateX(0px);
  }

  100%
  {
	transform: translateX(1000px);
  }
}

@keyframes 'bar_first'
{
  0%
  {
	transform: rotateY( 0deg ) rotateZ( 0deg ) rotateX( 0deg );
  }

  50%
  {
	transform: rotateY( 0deg ) rotateZ( 180deg ) rotateX( 0deg );
  }

  100%
  {
	transform: rotateY( 0deg ) rotateZ( 360deg ) rotateX( 0deg );
  }
}

@keyframes 'bar_second'
{
  0%
  {
	transform: rotateY( 0deg ) rotateZ( 0deg ) rotateX( 0deg );
  }

  50%
  {
	transform: rotateY( 0deg ) rotateZ( 180deg ) rotateX( 0deg );
  }

  100%
  {
	transform: rotateY( 0deg ) rotateZ( 360deg ) rotateX( 0deg );
  }
}

@keyframes 'bar_third'
{
  0%
  {
	transform: rotateY( 0deg ) rotateZ( 360deg ) rotateX( 0deg );
  }

  50%
  {
	transform: rotateY( 0deg ) rotateZ( 180deg ) rotateX( 0deg );
  }

  100%
  {
	transform: rotateY( 0deg ) rotateZ( 0deg ) rotateX( 0deg );
  }
}

.InGameUIRoot {
	width: 100%;
	height: 100%;

	z-index: 1;
}

.Bottom {
	vertical-align: bottom;
}

.MidBottom {
	horizontal-align: center;
	height: 200px;
	width: 1188px;
}

.Bars {
	horizontal-align: center;
	vertical-align: bottom;

	width: 100%;
	height: 100%;
}

#XPBarRoot {
	width: 789px;
	height: 10px;

	horizontal-align: center;
	margin-top: 67px;
	/*margin-left: 200px;*/

	overflow: clip clip;

	tooltip-position: top;
	tooltip-arrow-position: 25% 50%;
}

#XPBarContainer {
	height: 10px;
	width: 0%;

	overflow: clip clip;
}

.XPBarElement {
	width: 4000px;
	height: 15px;

	horizontal-align: center;

	opacity: 0.5;

	-s2-mix-blend-mode: multiply;
	background-repeat: repeat repeat;
/*	background-size: 789px 15px;
	background-position: 0px 0px;*/

	animation-delay: 0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	overflow: clip clip;
}

#XPBar1 {
	background-image: url("file://{images}/custom_game/ingame_ui/exp_bar.png");

	animation-name: exp_bar_horizontal_back;
	animation-duration: 20.0s;
}

#XPBar2 {
	background-image: url("file://{images}/custom_game/ingame_ui/exp_bar.png");

	animation-name: exp_bar_horizontal;
	animation-duration: 60.0s;
}

#XPBar3 {
	background-image: url("file://{images}/custom_game/ingame_ui/exp_bar.png");

	animation-name: exp_bar_horizontal_back;
	animation-duration: 40.0s;
}

.OrbRoot {
	width: 160px;
	height: 160px;

	vertical-align: bottom;

	margin: 7px;
	margin-bottom: 8px;
}

#HealthPoints {
	horizontal-align: left;
	margin-left: 18px;
}

#SkillPoints {
	horizontal-align: right;
	margin-right: 18px;
}

.GlassOrb {
	width: 160px;
	height: 160px;
	opacity: 0.5;
	/*brightness: 0.4;*/
	background-image: url("file://{images}/custom_game/ingame_ui/spheres/glass_c.png");
}

.ValueLabel {
	width: 100%;
	height: 100%;

	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-weight: bold;
	text-shadow: 0px 0px 8px 2.0 #333333ff;
	font-size: 21px;
	color: white;
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
}

.Orb {
	vertical-align: bottom;
	pre-transform-scale2d: -1.0;

	transition-property: height;
	transition-duration: 0.2s;
	transition-timing-function: linear;

	overflow: clip clip;
}

.OrbElement {
	opacity-mask: url("file://{images}/custom_game/ingame_ui/button_mask.png");
	background-repeat: repeat;

	-s2-mix-blend-mode: screen;

	animation-delay: 0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	opacity: 0.8;

	width: 160px;
	height: 160px;
}

#HPOrb1 {
	background-image: url("file://{images}/custom_game/ingame_ui/spheres/hp_1.png");

	opacity: 0.5;

	animation-name: bar_first;
	animation-duration: 20.0s;
}
#HPOrb2 {
	background-image: url("file://{images}/custom_game/ingame_ui/spheres/hp_2.png");

	animation-name: bar_second;
	animation-duration: 25.0s;
}
#HPOrb3 {
	background-image: url("file://{images}/custom_game/ingame_ui/spheres/hp_3.png");

	animation-name: bar_third;
	animation-timing-function: linear;
	animation-duration: 30.0s;
}

#SPOrb1 {
	background-image: url("file://{images}/custom_game/ingame_ui/spheres/sp_1.png");

	opacity: 0.9;

	animation-name: bar_first;
	animation-delay: 0s;
	animation-duration: 35.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
#SPOrb2 {
	background-image: url("file://{images}/custom_game/ingame_ui/spheres/sp_2.png");

	opacity: 0.7;

	animation-name: bar_second;
	animation-duration: 40.0s;
}
#SPOrb3 {
	background-image: url("file://{images}/custom_game/ingame_ui/spheres/sp_3.png");

	opacity: 0.3;

	animation-name: bar_third;
	animation-timing-function: linear;
	animation-duration: 30.0s;
}

.DarkEnergy {
	saturation: 0.9;
	brightness: 0.5;
	hue-rotation: 40deg;
}

.Energy {
	saturation: 1.8;
	hue-rotation: 160deg;
}

.Mana {
	/*saturation: 0.2;*/
	/*color: #ff0000;*/
}

#SideButtons {
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: right;
	margin-left: 500px;
	margin-bottom: 17px;
}

.BottomButton {
	margin-left: 14px;
	
    width: 47px;
    height: 84px;

    background-size: 100% 100%;
}

.Grayout {
	saturation: 1.0;
	brightness: 0.6;
}

.ButtonLabel {
	color: white;
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-size: 20px;
	text-overflow: clip;
	text-align: left;
}

.BottomButton:hover,
.BottomButton:disabled {
	/*background-size: 59% 59%;*/
	wash-color: #bbbbbb;
}

#InventoryButton {
	background-image: url('file://{images}/custom_game/ingame_ui/inventory.png');
}

#CharacterButton {
	background-image: url('file://{images}/custom_game/ingame_ui/character.png');
}

#CraftButton {
	background-image: url('file://{images}/custom_game/ingame_ui/craft.png');
}

#FortifyButton {
	/*background-image: url('file://{images}/custom_game/ingame_ui/fortify.png');*/
	background-image: url('file://{images}/custom_game/ingame_ui/craft.png');
}

#FortifyButton:active {
	wash-color: #bbbbbb;
}

#SettingsButton {
	background-image: url('file://{images}/custom_game/ingame_ui/help.png');
}

#EquipmentButton {
	horizontal-align: center;
	width: 128px;
	height: 26px; 

	border-radius: 4px;

	margin-top: 22px;
}

#BottomGfx {
	background-image: url('file://{images}/custom_game/ingame_ui/ui_bottom_5.png');

	width: 1188px;
	height: 195px;

	vertical-align: bottom;
}

#BottomForegroundGfx {
	background-image: url('file://{images}/custom_game/ingame_ui/ui_bottom_5_foreground.png');

	width: 1188px;
	height: 195px;

	vertical-align: bottom;
}

#Separator {
	background-image: url('file://{images}/custom_game/ingame_ui/separator.png');

	width: 7px;
	height: 125px;

	margin-left: 245px;

	vertical-align: bottom;
}

#PregameTimer {
	background-image: url('file://{images}/custom_game/ingame_ui/trade_request_bg.png');

	width: 307px;
	height: 111px;

	align: center top;

	margin-top: 80px;
}

#PregameLabel {
	align: left top;
	text-align: left;

	margin-top: 20px;
	margin-left: 58px;
}

#ReadyButton {
	align: center bottom;

	margin: 15px;
}