DOTAAbilityImage {
	align: center center;

	width: 85%;
	height: 85%;
	/*transform: scale3d( 1.14, 1.1, 0 );*/
}

.AbilityOverlayRoot
{
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: right;

	margin-right: 260px;
}

#AbilityList
{
	flow-children: right;
}

.AbilityPanel
{
	margin-left: -10px;
	margin-bottom: 8px;
}

#AbilityBorderInner {
	width: 100%;
	height: 100%;

	align: center center;

	background-image: url("file://{images}/custom_game/ingame_ui/ability_border_inner.png");
	background-size: 100% 100%;
	background-position: 50% 50%;
}

.AbilityPanel.no_ability
{
	visibility: collapse;
}

#AbilityButton
{
	width: 84px;
	height: 84px;
	/*border: 2px solid transparent;*/
	box-shadow: fill #00000080 0px 0px 12px 0px;
}

.Layout5
{
	width: 64px;
	height: 64px;

	margin-bottom: 30px;
}

.is_passive #AbilityButton
{
	/*border: 2px solid #00000000;*/
}

#AbilityButton
{
	vertical-align: center;
	horizontal-align: center;
}

#AbilityButton:hover
{
	/*border: 2px solid white;*/
}

#AbilityButton:active
{
	hue-rotation: 10deg;
}

.insufficient_mana DOTAAbilityImage
{
	saturation: 0;
	wash-color: #1569be;
}

.potential_upgrade.no_level DOTAAbilityImage
{
	saturation: 1;
	wash-color: white;
}

#AbilityStatusBorder
{
	vertical-align: center;
	horizontal-align: center;

	background-image: url('file://{images}/custom_game/ingame_ui/item_toggle.png');
	background-size: 100% 100%;
	background-position: 50% 50%;

	width: 101px;
	height: 101px;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out, linear;
}

.toggle_enabled #AbilityStatusBorder
{
	opacity: 1.0;
}

#CooldownOverlay
{
	height: 100%;
	width: 100%;
	background-color: #000000DD;
	visibility: visible;

	transition-property: clip;
}

#CooldownTimer
{
	color: white;
    font-size: 24px;
	text-shadow: 0px 0px 6px 6 #000000;
    horizontal-align: center;
    vertical-align: center;
}

#Cooldown
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.in_cooldown #Cooldown
{
	visibility: visible;
}

#ManaCost
{
	color: #c0e8fb;
    font-size: 14px;
    font-weight: bold;
	text-shadow: 4px 4px 4px 8 #245191;
	margin-right: 0px;
	margin-bottom: -2px;

	vertical-align: bottom;
	horizontal-align: right;
}

.no_mana_cost #ManaCost
{
	visibility: collapse;
}

.is_active #ActiveAbility
{
	opacity: 1;
}

#Hotkey
{
	margin-left: 0px;
	margin-top: 0px;

	vertical-align: top;
	horizontal-align: left;
	min-width: 22px;
	min-height: 18px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #393939 ), to( #414849 ) );
	border: 1px solid #ffffff05;
	box-shadow: fill black 1px 1px 2px 2px;
}

#HotkeyText
{
	color: #bba995;
 	text-shadow: 1px 1px 2px 2 #000000;
    font-size: 16px;
    font-weight: bold;
    line-height: 0px;
    font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	vertical-align: center;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	margin: 0px;
}

.no_level #Hotkey,
.no_item #Hotkey,
.is_passive #Hotkey,
#stash_row #Hotkey,
.no_hotkey #Hotkey
{
	visibility: collapse;
}

.MouseIcon {
	background-image: url('file://{images}/custom_game/ingame_ui/mouse_icon.png');
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	saturation: 1.5;
}

.LMB {

}

.RMB {
	pre-transform-scale2d: -1.0, 1.0;
}