/* Common */

.Movespeed {
	color: #ffffffbb;
}

/* 	Attack Types */

.DOTA_UNIT_CAP_MELEE_ATTACK {
	color: #ffffffbb;
}

.DOTA_UNIT_CAP_RANGED_ATTACK {
	color: #ffffffbb;
}

/* 	Damage Types */

.DAMAGE_TYPE_PHYSICAL {
	color: #71A9EA;
}

.DAMAGE_TYPE_MAGICAL {
	color: #BBB3D8;
}

.DAMAGE_TYPE_FIRE {
	color: #ff4444;
}

.DAMAGE_TYPE_COLD {
	color: #4444bb;
}

.DAMAGE_TYPE_DARK {
	color: #4553B7;
}

/* 	1 - Common
	2 - Magic
	3 - Rare
	4 - Legendary
	5 - Epic */

.Rarity1 { 
	color: #ffffff;
}

.Rarity2 {
	color: #3d50c5;
}

.Rarity3 {
	color: #ffea00;
}

.Rarity4 {
	color: #FFA500;
}

.Rarity5 {
	color: #FF00FF;
}

/* 	Playstyles */

.nobrain {
	color: #DD5283;
}

.summoner {
	color: #E08841;
}

.hitnrun {
	color: #7ADBB6;
}