@keyframes 'boss_hpbar_intro'
{
  0%
  {
	transform: rotateX( 0deg ) translate3d( 0px, 0px, 500px );
  }

  30%
  {
  	transform: translate3d( 0px, 0px, 0px );
  }

  100%
  {
	transform: rotateX( 0deg );
  }
}

@keyframes 'boss_hpbar_outro'
{
  0%
  {
	transform: scale3d(1.0, 1.0, 1.0);
	opacity: 1.0;
  }

  100%
  {
	transform: scale3d(1.5, 1.5, 1.5);
	opacity: 0.0;
  }
}

@keyframes 'bar_horizontal'
{
  0%
  {
	transform: translateX(0px);
  }

  100%
  {
	transform: translateX(-1024px);
  }
}

@keyframes 'bar_horizontal_back'
{
  0%
  {
	transform: translateX(0px);
  }

  100%
  {
	transform: translateX(1024px);
  }
}

.ObjectiveHeadline {
	text-shadow: 1px 1px 14px black;
	text-align: center;
	text-transform: uppercase;
	text-overflow: clip;

	font-weight: bold;
	font-size: 30px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
	color: #ffffffcc;

	horizontal-align: center;
}

.Objectives {
	margin: 60px;
	
	flow-children: down;
}

.Objective
{
	background-color: transparent;

	text-shadow: -1px -1px 0px 0.0 #ffffffff;
	text-align: center;

	box-shadow: #000000ff -1px -1px -1px;

	font-weight: normal;
	font-size: 20px;
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	color: #ffffffcc;

	horizontal-align: center;
}

.CBR {
	horizontal-align: center;
	width: 90%;
	height: 1px;

	/*border-top: 1px solid #ffffff44;*/
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), color-stop( 0.4, #ffffff ), color-stop( 0.6, #ffffff ), to( #ffffff00 ) );

	margin-bottom: 14px;
	margin-top: 6px;
}

/* Boss HP Bar */

.BossHPRoot {
	transform-origin: 50% 50%;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-name: boss_hpbar_intro;
	animation-duration: 1.8s;

	vertical-align: top;
	horizontal-align: center;

	margin-top: 5px;

	width: 1024px;
	height: 118px;

	/*background-image: url("file://{images}/custom_game/ingame_ui/unique/boss_hpbar_bg.png");*/
}

.BossHPRootOutro {
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-name: boss_hpbar_outro;
	animation-duration: 1.5s;
}

#HPBarForeground {
	width: 1024px;
	height: 72px;

	vertical-align: bottom;

	background-repeat: no-repeat;

	background-image: url("file://{images}/custom_game/ingame_ui/unique/boss_hpbar_fg.png");
}

.BossHPBar {
	width: 876px;
	height: 32px;

	margin-left: 75px;
	margin-top: 17px;

	vertical-align: center;
	horizontal-align: left;

	overflow: clip clip;
}

.HPBarElement {
	-s2-mix-blend-mode: screen;
	background-repeat: repeat repeat;

	horizontal-align: center;

	animation-delay: 0.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	width: 4000px;
	height: 50px;

	opacity: 0.5;
}

.HPBarGlass {
	width: 876px;
	height: 31px;
	margin-bottom: 0px;
	background-image: url("file://{images}/custom_game/ingame_ui/unique/boss_hpbar_glass.png");
}

.HPBarGlassBroken {
	background-image: url("file://{images}/custom_game/ingame_ui/unique/boss_hpbar_glass_broken.png");
}

#BossHPLabel {
	vertical-align: center;
	margin-top: 10px;

	font-size: 20px;
}

#BossName {
	margin-top: 0px;

	text-shadow: 0px 0px 8px 3.0 #333333b0;

	font-size: 40px;
}

#HPBar1 {
	background-image: url("file://{images}/custom_game/ingame_ui/unique/boss_hpbar_a.jpg");
	animation-name: bar_horizontal;
	animation-duration: 25.0s;

	opacity: 1.0;
}
#HPBar2 {
	background-image: url("file://{images}/custom_game/ingame_ui/unique/boss_hpbar_a.jpg");

	animation-name: bar_horizontal_back;
	animation-duration: 35.0s;
}
#HPBar3 {
	background-image: url("file://{images}/custom_game/ingame_ui/unique/boss_hpbar_a.jpg");

	animation-name: bar_horizontal;
	animation-duration: 45.0s;
}
#HPBar4 {
	background-image: url("file://{images}/custom_game/ingame_ui/unique/boss_hpbar_c.jpg");
	opacity: 0.2;

	animation-name: bar_horizontal;
	animation-duration: 100.0s;
}