/*.Window {
	border-radius: 6px;

	background-color: #222222ff;
}
*/
.Headline {
	background-color: #111111ff;
	width: 100%;
	height: 40px;
}

.WindowLabel {
	horizontal-align: middle;
	vertical-align: center;

	width: 100%;

	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-weight: bold;
	font-size: 21px;

	line-height: 32px;

	text-transform: uppercase;
	text-align: center;
	/*text-shadow: 0px 0px 8px 2.0 #333333ff;*/
	
	color: white;
}

.TextBlock {
	width: 80%;
	height: 30%;

/*	border: 1px solid #111111ff;
	border-radius: 20px;

	background-color: #111111bb;*/
}

.TextBlockLabel {
	margin-top: 10px;
	margin-left: 10px;

	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-style: italics;
	font-size: 18px;

	line-height: 18px;

	text-align: left;
	
	color: #ffffffbb;
}

.CloseButton {
	width: 40px;
	height: 42px;

	margin-right: 4px;
	margin-top: 5px;

	border-radius: 1px;

/*	border-left-color: #55441166;
	border-left-style: solid;
	border-left-width: 2px;*/

	background-color: #b53f51;

	background-image: url('file://{images}/custom_game/ingame_ui/ui_close_button.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	horizontal-align: right;
}

.CloseButton:hover
{
	wash-color: #bbbbbb;
}

.OKButton {
	width: 149px;
	height: 42px;

	border-radius: 1px;

/*	border-left-color: #55441166;
	border-left-style: solid;
	border-left-width: 2px;*/

	background-image: url('file://{images}/custom_game/ingame_ui/ui_red_button.png');
	background-size: 100% 100%;

	horizontal-align: right;
}

.OKButton:disabled 
{
	wash-color: #999999;
}

.OKButton:hover
{
	wash-color: #bbbbbb;
}

.Hide {
	opacity: 0; 
	visibility: collapse;
}

.BasicShadow {
	box-shadow: #000000ff 0px 0px 21px 0px;
}

.WindowButtonLabel {
	horizontal-align: center;
	vertical-align: center;

	color: #ffffffde;
	font-size: 16px;

	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;

	text-shadow: 1px 1px 2px black;
	line-height: 0px;
}