@keyframes 'bar_horizontal'
{
  0%
  {
	transform: translateX(0px);
  }

  100%
  {
	transform: translateX(-1000px);
  }
}

@keyframes 'bar_horizontal_back'
{
  0%
  {
	transform: translateX(0px);
  }

  100%
  {
	transform: translateX(1000px);
  }
}

@keyframes 'bar_vertical'
{
  0%
  {
	transform: translateY(0px);
  }

  50%
  {
	transform: translateY(128px);
  }

  100%
  {
	transform: translateY(0px);
  }
}

.ObjectiveHeadline {
	text-shadow: 1px 1px 14px black;
	text-align: center;
	text-transform: uppercase;
	text-overflow: clip;

	font-weight: bold;
	font-size: 30px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
	color: #ffffffcc;

	horizontal-align: center;
}

.Objectives {
	margin: 60px;
	
	flow-children: down;
}

.Objective
{
	background-color: transparent;

	text-shadow: -1px -1px 0px 0.0 #ffffffff;
	text-align: center;

	box-shadow: #000000ff -1px -1px -1px;

	font-weight: normal;
	font-size: 20px;
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	color: #ffffffcc;

	horizontal-align: center;
}

.CBR {
	horizontal-align: center;
	width: 90%;
	height: 1px;

	/*border-top: 1px solid #ffffff44;*/
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), color-stop( 0.4, #ffffff ), color-stop( 0.6, #ffffff ), to( #ffffff00 ) );

	margin-bottom: 14px;
	margin-top: 6px;
}

/* Boss HP Bar */

.BossHPRoot {
	vertical-align: top;
	horizontal-align: center;

	margin-top: 50px;

	width: 1059px;
	height: 118px;

	background-image: url("file://{images}/custom_game/ingame_ui/unique/boss_hpbar_bg.png");
}

#HPBarForeground {
	width: 1059px;
	height: 118px;
}

.BossHPBar {
	width: 1035px;
	height: 50px;

	margin: 12px;
	margin-bottom: 10px;

	vertical-align: bottom;
	horizontal-align: left;

	overflow: clip clip;
}

.HPBarElement {
	-s2-mix-blend-mode: screen;
	background-repeat: repeat repeat;

	horizontal-align: center;

	animation-delay: 0.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	width: 4000px;
	height: 50px;

	opacity: 0.5;
}

#BossHPLabel {
	vertical-align: bottom;
	margin-bottom: 20px;

	font-size: 20px;
}

#BossName {
	margin-top: 7px;

	text-shadow: 0px 0px 8px 3.0 #333333b0;

	font-size: 40px;
}

#HPBar1 {
	background-image: url("file://{images}/custom_game/ingame_ui/unique/boss_hpbar_a.jpg");
	animation-name: bar_horizontal;
	animation-duration: 25.0s;

	opacity: 1.0;
}
#HPBar2 {
	background-image: url("file://{images}/custom_game/ingame_ui/unique/boss_hpbar_a.jpg");

	animation-name: bar_horizontal_back;
	animation-duration: 35.0s;
}
#HPBar3 {
	background-image: url("file://{images}/custom_game/ingame_ui/unique/boss_hpbar_a.jpg");

	animation-name: bar_horizontal;
	animation-duration: 45.0s;
}
#HPBar4 {
	background-image: url("file://{images}/custom_game/ingame_ui/unique/boss_hpbar_c.jpg");
	opacity: 0.2;

	animation-name: bar_horizontal;
	animation-duration: 100.0s;
}

.BossHPBackground1 {
	background-image: url("file://{images}/custom_game/ingame_ui/unique/boss_hpbar_fg_a.png");
}
.BossHPBackground2 {
	background-image: url("file://{images}/custom_game/ingame_ui/unique/boss_hpbar_fg_b.png");
}
.BossHPBackground3 {
	background-image: url("file://{images}/custom_game/ingame_ui/unique/boss_hpbar_fg_c.png");
}