@keyframes 'bar_horizontal'
{
  0%
  {
	transform: translateX(0px);
  }

  50%
  {
	transform: translateX(128px);
  }

  100%
  {
	transform: translateX(0px);
  }
}

@keyframes 'bar_horizontal_back'
{
  0%
  {
	transform: translateX(0px);
  }

  50%
  {
	transform: translateX(-128px);
  }

  100%
  {
	transform: translateX(0px);
  }
}


@keyframes 'bar_first'
{
  0%
  {
	transform: rotateY( 0deg ) rotateZ( 0deg ) rotateX( 0deg );
  }

  50%
  {
	transform: rotateY( 0deg ) rotateZ( 180deg ) rotateX( 0deg );
  }

  100%
  {
	transform: rotateY( 0deg ) rotateZ( 360deg ) rotateX( 0deg );
  }
}

@keyframes 'bar_second'
{
  0%
  {
	transform: rotateY( 0deg ) rotateZ( 0deg ) rotateX( 0deg );
  }

  50%
  {
	transform: rotateY( 0deg ) rotateZ( 180deg ) rotateX( 0deg );
  }

  100%
  {
	transform: rotateY( 0deg ) rotateZ( 360deg ) rotateX( 0deg );
  }
}

@keyframes 'bar_third'
{
  0%
  {
	transform: rotateY( 0deg ) rotateZ( 360deg ) rotateX( 0deg );
  }

  50%
  {
	transform: rotateY( 0deg ) rotateZ( 180deg ) rotateX( 0deg );
  }

  100%
  {
	transform: rotateY( 0deg ) rotateZ( 0deg ) rotateX( 0deg );
  }
}

.InGameUIRoot {
	width: 1920px;
	height: 1080px;
}

.Bottom {
	vertical-align: bottom;
}

.LeftBottom {
	horizontal-align: left;
	flow-children: right;
}

.RightBottom {
	horizontal-align: right;
	flow-children: down;

	height: 255px;
}

.MidBottom {
	horizontal-align: center;
	height: 200px;
	width: 1074px;
}

#BottomRoot {
	width: 1630px;
	height: 15px;

	/*background-color: #111111FF;*/
}

#MinimapBorder {
	width: 293px;
	height: 340px;

/*	border: 15px solid #111111FF;
	border-top-right-radius: 6px;
	border-bottom-width: 0px;
	border-top-width: 60px;*/

	background-color: #ffffff00;
}

.Bars {
	horizontal-align: center;
	vertical-align: bottom;

	width: 100%;
	height: 100%;
}

#XPBarRoot {
	horizontal-align: left;
	margin-left: 190px;
	width: 700px;

	

	margin-top: 70px;
}

.XPBarElement {
	width: 700px;
	height: 15px;

	

	opacity: 0.3;

	-s2-mix-blend-mode: multiply;

	animation-delay: 0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

#XPBar1 {
	background-image: url("file://{images}/custom_game/ingame_ui/exp_bar.png");

	opacity: 0.8;
}

#XPBar2 {
	background-image: url("file://{images}/custom_game/ingame_ui/exp_bar.png");

	animation-name: bar_horizontal;
	animation-duration: 16.0s;
}

#XPBar3 {
	background-image: url("file://{images}/custom_game/ingame_ui/exp_bar.png");

	animation-name: bar_horizontal_back;
	animation-duration: 18.0s;
}

.BarBackground {
	width: 160px;
	height: 160px;

	vertical-align: bottom;

	margin: 7px;
	margin-bottom: 8px;
}

#HealthPoints {
	horizontal-align: left;
}

#SPPoints {
	horizontal-align: right;
}

.ValueLabel {
	width: 100%;
	height: 100%;

	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-weight: bold;
	text-shadow: 0px 0px 8px 2.0 #333333ff;
	font-size: 21px;
	color: white;
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
}

.Bar {
	vertical-align: bottom;
	pre-transform-scale2d: -1.0;

	transition-property: height;
	transition-duration: 0.1s;
	transition-timing-function: linear;

	overflow: clip clip;
}

.BarElement {
	opacity-mask: url("file://{images}/custom_game/ingame_ui/button_mask.png");
	background-repeat: repeat;

	-s2-mix-blend-mode: screen;

	animation-delay: 0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	opacity: 0.3;

	width: 160px;
	height: 160px;
}

#HPBar1 {
	background-image: url("file://{images}/custom_game/ingame_ui/spheres/hp_1.png");

	opacity: 0.5;

	animation-name: bar_first;
	animation-duration: 12.0s;
}
#HPBar2 {
	background-image: url("file://{images}/custom_game/ingame_ui/spheres/hp_2.png");

	animation-name: bar_second;
	animation-duration: 14.0s;
}
#HPBar3 {
	background-image: url("file://{images}/custom_game/ingame_ui/spheres/hp_3.png");

	animation-name: bar_third;
	animation-duration: 16.0s;
}

#SPBar1 {
	background-image: url("file://{images}/custom_game/ingame_ui/spheres/mana_1.png");

	opacity: 0.5;

	animation-name: bar_first;
	animation-delay: 0s;
	animation-duration: 15.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
#SPBar2 {
	background-image: url("file://{images}/custom_game/ingame_ui/spheres/mana_2.png");

	animation-name: bar_second;
	animation-duration: 14.0s;
}
#SPBar3 {
	background-image: url("file://{images}/custom_game/ingame_ui/spheres/mana_3.png");

	animation-name: bar_third;
	animation-duration: 16.0s;
}

.EnergyBar {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #b5a33fff ), to( #c1af4dff ) );
}

#SideButtons {
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: right;
	margin-left: 410px;
	margin-bottom: 13px;
}

.BottomButton {
	margin-left: 10px;
	
    width: 50px;
    height: 90px;

    background-size: 100% 100%;
}

.Grayout {
	saturation: 1.0;
	brightness: 0.6;
}

.ButtonLabel {
	color: white;
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-size: 20px;
	text-overflow: clip;
	text-align: left;
}

.BottomButton:hover,
.BottomButton:disabled {
	/*background-size: 59% 59%;*/
	wash-color: #bbbbbb;
}

#inventory_button {
	background-image: url('file://{images}/custom_game/ingame_ui/inventory.png');
}

#character_button {
	background-image: url('file://{images}/custom_game/ingame_ui/character.png');
}

#craft_button {
	background-image: url('file://{images}/custom_game/ingame_ui/craft.png');
	/*brightness: 0.5;*/
}

#fortify_button {
	background-image: url('file://{images}/custom_game/ingame_ui/fortify.png');
	visibility: collapse;
}

#help_button {
	background-image: url('file://{images}/custom_game/ingame_ui/help.png');
}

#EquipmentButton {
	horizontal-align: center;
	width: 128px;
	height: 26px; 

	border-radius: 4px;

	margin-top: 22px;
}

#BottomGfx {
	background-image: url('file://{images}/custom_game/ingame_ui/ui_bottom_4.png');

	width: 1095px;
	height: 195px;

	vertical-align: bottom;
}

#BottomForegroundGfx {
	background-image: url('file://{images}/custom_game/ingame_ui/ui_bottom_4_foreground.png');

	width: 1095px;
	height: 195px;

	vertical-align: bottom;
}

#Separator {
	background-image: url('file://{images}/custom_game/ingame_ui/separator.png');

	width: 7px;
	height: 125px;

	margin-left: 150px;

	vertical-align: bottom;
}