DOTAItemImage {
	border-radius: 6px;
	border: 1px solid #111111FF;
}

.z-index1 {
	box-shadow: fill #000000DD 0px 2px 6px 0px;
	z-index: 1;
}

.container {
	padding-left: 10px;
	padding-right: 10px;
}

.row {
	padding-top: 10px;
	padding-bottom: 10px;
}

.divider {
  height: 1px;
  width: 100%;
  
  background-color: #9E9E9E00;

  margin-left: 5px;
  margin-right: 28px;
}

.divider-vertical {
  height: 100%;
  width: 1px;
  
  background-color: #9E9E9E00;

  margin-top: 5px;
  margin-bottom: 5px;
}

.title {
	color: #ffffffde;
	font-size: 25px;

	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;

	text-shadow: 1px 1px 2px black;
	line-height: 35px;
}

.text {
	font-size: 23px;	

	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	line-height: 19px;

	color: #A5ADA2ff;
}

VerticalScrollBar {
	width: 23px;
	height: 100%;

	horizontal-align: right;
}

#ScrollThumb {
	width: 100%;
	height: 30px;

	background-color: #9E9E9E20;
}

.MainPanel {
	width: 1100px;
	height: 700px;

	background-image: url('file://{images}/custom_game/ingame_ui/crafting_bg.png');
	background-size: 100% 100%;

	horizontal-align: center;
	vertical-align: middle;

	box-shadow: #000000ff -1px -1px -1px;

	/*flow-children: down;*/
}

.Window {
	width: 100%;
	height: 700px;

    flow-children: right;
}

/*
 *  Recipes list
 */
.Recipes {
	width: 276px;
	height: 100%;

	flow-children: down;
}

#Search {
	width: 100%;
	height: 63px;

	padding-top: 19px;

	margin-left: 21px;
}

.RecipesList {
	width: 100%;
	height: 91%;

	overflow: squish scroll;
	flow-children: down;
}

.recipe-title {
	width: 100%;
	height: 30px;

	margin-left: 19px;
}

.RecipeTitle { 
	font-size: 23px;	

	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	line-height: 19px;

	background-color: #ffffff00;
}

#RecipeTitle {
	width: 90%;

	background-size: 100% 100%;

	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

.RecipeLabelSelected {
	background-color: #ffffffff;
}

/*
 *  Main crafting
 */
.CraftInfo {
	width: 890px;
	height: 100%;

	flow-children: down;
}

#Tabs {
	width: 90%;
	height: 43px;

/*	padding-top: 4px;
	padding-bottom: 3px;*/

	margin-top: 13px;

	flow-children: right;
}

.Tab {
	height: 100%;

	margin-top: 7px;

	vertical-align: center;
	text-align: center;

	color: #A5ADA2ff;
}

.Tab:hover {
	brightness: 1.5;
}

.Tab.ActiveTab {
	color: white;
}

#ItemNameTab {
	width: 65%;
}

#RecycleTab {
	width: 35%;
}

.TabContent {
	width: 100%;
	height: 100%;
}

#ItemDescPanel {
	width: 100%;
	height: 236px;

	margin-top: 5px;

	flow-children: right;
}

#ItemImage {
	align: center center;

	width: 150px;
	height: 100%;
}

#CraftingItemPanel {
	width: 100%;
	height: 90px;

	margin-left: 10px;

	horizontal-align: center;
	vertical-align: center;
}

#ItemDesc {
	width: 100%;
	height: 100%;

	overflow: squish scroll;
	flow-children: down;

	margin-top: 0px;
}

#ItemDescLabel {
	width: 80%;
	height: 100%;

	vertical-align: center;
}

#RecycleLabel {
	width: 85%;

	margin: 40px;
	margin-top: 100px;
	
	font-size: 24px;
	font-family: Goudy Trajan;

	text-align: center;
}

#RecycleItems {
	width: 100%;
	height: 50%;

	vertical-align: bottom;

	margin-bottom: 60px;
}

.RecipeParts {
	width: 100%;
	height: 270px;

	margin-bottom: 90px;

	horizontal-align: center;
	vertical-align: bottom;
}

.RecipePartsRows {
	flow-children: down;
	
	horizontal-align: center;
	vertical-align: middle;
}

.RecipePartsRow {
	flow-children: right;

	horizontal-align: center;
	vertical-align: middle;
}

.recipepart-image {
	height: 90px;
	width: 123px;

	margin-left: 4px;
	margin-right: 4px;
}

.recipe-plus {
	color: #ffffffde;
	font-size: 25px;

	margin-left: 4px;
	margin-right: 4px;
	
	vertical-align: middle;
}

.Buttons {
	width: 100%;
	height: 100px;

	flow-children: down;
}

#CloseButton {
	width: 60px;
	height: 62px;

	margin-right: 6px;
	margin-top: 5px;
	z-index: 1;
}

#CraftButton,
#RecycleButton {
	width: 220px;
	height: 54px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-right: 15px;
	margin-bottom: 17px;
}

.button {
	width: 150px;
	height: 50px;

	background-color: #616161;

	horizontal-align: right;
}

.button:hover {
	box-shadow: fill #000000DD 0px 8px 12px 0px;

	transition: box-shadow 2.0s ease-in-out 2.0s;
}

.button:active {
	background-color: #757575;
}

.btn-title {
	width: 100%;

	color: #ffffffde;
	font-size: 30px;

	margin-top: 8px;
	text-align: center;

	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
	text-shadow: 1px 1px 1px black;
}

#Background {
	background-image: url('file://{images}/custom_game/ingame_ui/crafting_bg.png');
	background-size: 100% 100%;

	width: 100%;
	height: 100%;

/*	vertical-align: center;
	horizontal-align: center;*/
}

/*#ItemImage {
	width: 150px;
	height: 110px;

	border-radius: 6px;
}*/

.modifier-slot {
	width: 100%;
	height: 25px;

	flow-children: right;
}

.gem-slot {
	width: 100%;
	height: 53px;

	flow-children: right;
}

.gem-slot-image {
	width: 67px;
	height: 53px;

	margin-right: 8px;
	margin-bottom: 4px;

	horizontal-align: left;
}

.gem-slot-desc {
	width: 100%;
	height: 100%;

	text-shadow: 1px 1px 1px black;
	text-align: center;
	/*text-transform: uppercase;*/
	text-overflow: clip;

	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	color: White;
}

#GemSlot_Desc_Text {
	margin-top: 7px;
	vertical-align: center;
}

#ModifierText {
	text-shadow: 1px 1px 1px black;
	text-align: center;

	font-size: 16px;
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	color: White;
}

#Count {
	horizontal-align: right;
	vertical-align: bottom;

	margin: 8px;
	margin-bottom: -2px;

	text-shadow: 2px 2px 8px 3.0 #333333b0;
	text-align: center;

	font-size: 25px;
	font-weight: bold;
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	color: White;
}