/*.Window {
	border-radius: 6px;

	background-color: #222222ff;
}
*/
.Headline {
	background-color: transparent;
	text-shadow: 1px 1px 1px black;
	text-align: center;
	color: White;
	margin: 0px;
}

.WindowLabel {
	horizontal-align: middle;
	vertical-align: center;

	width: 100%;

	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-weight: bold;
	font-size: 21px;

	text-transform: uppercase;
	text-align: center;
	/*text-shadow: 0px 0px 8px 2.0 #333333ff;*/
	
	color: white;
}

.TextBlock {
	width: 80%;
	height: 30%;

/*	border: 1px solid #111111ff;
	border-radius: 20px;

	background-color: #111111bb;*/
}

.TextBlockLabel {
	margin-top: 10px;
	margin-left: 10px;

	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-style: italics;
	font-size: 18px;

	line-height: 18px;

	text-align: left;
	
	color: #ffffffbb;
}

.CloseButton {
	width: 45px;
	height: 46px;

	margin: 4px;

	wash-color: #ffffff;

/*	border-left-color: #55441166;
	border-left-style: solid;
	border-left-width: 2px;*/

	background-image: url('file://{images}/custom_game/ingame_ui/ui_close_button.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	horizontal-align: right;
}

.CloseButton:active {
	sound: "General.SelectAction";
}

.BackButton {
	background-image: url('file://{images}/custom_game/ingame_ui/ui_back_button.png');
}

.CloseButton:hover
{
	wash-color: #bbbbbb;
}

.OKButton {
	width: 149px;
	height: 42px;

	border-radius: 1px;

/*	border-left-color: #55441166;
	border-left-style: solid;
	border-left-width: 2px;*/

	background-image: url('file://{images}/custom_game/ingame_ui/ui_red_button.png');
	background-size: 100% 100%;

	horizontal-align: right;
}

.OKButton:disabled 
{
	wash-color: #999999;
}

.OKButton:hover
{
	wash-color: #bbbbbb;
}

.Hide {
	opacity: 0; 
	visibility: collapse;
}

.WindowAnimation {
	transition-property: blur, transform, opacity;
	transition-duration: 0.3s, 0.3s, 0.3s;
	transition-timing-function: ease-in;
}

.WindowClosed {
	transform: rotateX(6deg) translate3d( 0px, -100px, 0px );
	blur: gaussian( 15.0 );
	opacity: 0.0;
}

.Blur {
	blur: gaussian( 15.0 );
}

.BasicShadow {
	box-shadow: #000000ff 0px 0px 21px 0px;
}

.WindowButtonLabel {
	horizontal-align: center;
	vertical-align: center;

	color: #ffffffde;
	font-size: 16px;

	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;

	text-shadow: 1px 1px 2px black;
	line-height: 0px;
}

.GenericBackground {
	vertical-align: center;
	horizontal-align: center;
	
	background-position: 50% 50%;
	background-size: 100% 100%;

	background-repeat: no-repeat;
}

/*
 * Tooltips
 */

.TooltipBorderA {
	border: 2px solid #AEA998;
}

.TooltipBorderB {
	padding: 12px;

	border: 3px solid #41626E;

	background-color: #101D21;

	max-width: 225px;
}

#Contents {
	padding: 0px;
}

.TooltipContents {
    background-color: none;
    padding: 0px;
    border: 2px solid #4F4F4C;
    border-radius: 6px;
}

.TooltipText {
	align: center center;
}

/*
 * Common checkbox
 */ 

ToggleButton, DOTASettingsCheckbox {
	flow-children: right;
	padding: 1px 4px;
	color: white;

	margin-top: 20px;
	margin-left: 10px;

	transition-property: background-color, box-shadow, color;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

ToggleButton .TickBox, DOTASettingsCheckbox .TickBox {
	vertical-align: center;

	background-color: black;
	border: 2px solid #5e686966;
	box-shadow: #00000055 -2px -2px 1px 4px;

	transition-property: background-color, box-shadow, color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;	
}

ToggleButton:hover .TickBox, DOTASettingsCheckbox:hover .TickBox {
	border: 2px solid #697879;
}

ToggleButton:selected .TickBox, DOTASettingsCheckbox:selected .TickBox {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #e7f6f5 ), to( #a0d6d7 ) );
	border: 3px solid #000000;
	box-shadow: #5b62bf77 -4px -4px 8px 8px;
}

.CheckBox .TickBox {
	width: 30px;
	height: 30px;
}

ToggleButton Label, DOTASettingsCheckbox Label {
	margin-top: 4px;
	margin-left: 16px;
	font-size: 18px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
}