.Hourglass.Outer
{
  width: 310px;
  height: 310px;

  background-image: url('file://{images}/custom_game/ingame_ui/inventory_bg.png');
  background-size: 100% 100%;

  border-color: transparent;
  border-radius: 7px;
}

.Hourglass #Header
{
  background-color: transparent;
  height: 52px;
}

.Hourglass #Footer
{
  
}

.Hourglass #HeaderLabel
{ 
  margin-top: 12px;
  color: #ffffffbb;

  text-shadow: 1px 1px 1px black;
  text-align: left;
  text-transform: uppercase;
  text-overflow: clip;

  box-shadow: #000000ff 0px 0px 8px 0.3;

  font-weight: bold;
  font-size: 19px;
  font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
}

.Hourglass #Inner
{
  border-color: transparent;
  background-color: transparent;

}

.Hourglass .ItemRow
{
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: transparent;
} 

.Hourglass .ItemPanel
{
  width:81px;
  height:60px;

  margin-top: 10px;
}

.Hourglass #row1
{
  clip: rect(-100%, 200%, 200%, -100%);
  background-color: transparent;

  margin-left: 8px;
  margin-top: 4px;
}

.Hourglass #row2
{
  background-color: transparent;

  margin-left: 8px;
  margin-top: 4px;
}

.Hourglass #row3
{
  background-color: transparent;

  margin-left: 8px;
  margin-top: 4px;
}

.Hourglass .ItemPanel
{
  box-shadow: fill #000000ff 0px 0px 12px 0px;
  border-radius: 4px;
}

.Hourglass .CloseButton {
  width: 47px;
  height: 52px;

  margin-right: 4px;
  margin-top: 6px;

  border-radius: 1px;

/*  border-left-color: #55441166;
  border-left-style: solid;
  border-left-width: 2px;*/

  wash-color: none;

  background-color: #b53f51;

  background-image: url('file://{images}/custom_game/ingame_ui/ui_close_button.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  horizontal-align: right;
}

.Hourglass .CloseButton:hover
{
  wash-color: #bbbbbb;
}

/*.Hourglass #slot1
{
  border: 8px solid red;
  box-shadow: fill black 1px 1px 2px 2px;
  pre-transform-scale2d: 1.0;
  animation-name: goleft;
  //animation-delay: 0s;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; 
}

.Hourglass #slot2
{
  border: 5px solid green;
  box-shadow: fill black 1px 1px 2px 2px;
  animation-name: goright;
  //animation-delay: 0s;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; 
}*/


@keyframes 'goleft'
{
  0%   {transform: translateX( 0px ) translateY( 0px );}
  50%  {transform: translateX( -50px ) translateY( 0px );}
  100% {transform: translateX( 0px ) translateY( 0px );}
}

@keyframes 'goright'
{
  0%   {transform: translateX( 0px ) translateY( 0px );}
  50%  {transform: translateX( 50px ) translateY( 0px );}
  100% {transform: translateX( 0px ) translateY( 0px );}
}



.SmallItems .ItemPanel
{
  width:33px;
  height:24px;
  margin:1px;
}

.SmallItems .ItemRow
{
  margin-top: 1px;
  margin-bottom: 1px;
}