.MinimapRoot {
	align: center center;
	width: 800px;
	height: 800px;
}

.TopRight {
	width: 300px;
	height: 300px;

	horizontal-align: right;
	vertical-align: top;

	border-radius: 50%;
	border: 2px solid black;

	margin: 10px;
}

.Hero {
	width: 1000px;
	height: 1000px;

	align: center center;

	transform: rotateX( 30deg ) translateY( -90px ) scale3d(1.5, 1.5, 1);
	border-radius: 50%;
	opacity-mask: url("file://{images}/custom_game/minimap/mask.png");
}

.ImageContainer {
	height: 100%;
	width: 100%;

	overflow: clip clip;
	background-color: #000000;
}

.MinimapMarks {
	transition-property: transform, margin;
	transition-duration: 0.06s, 0.06s;
	transition-timing-function: linear, linear;

	z-index: 1;
}

.MarksContainer {
	width: 100%;
	height: 100%;

	z-index: 10;
}

#MinimapImage {
	width: 1024px;
	height: 1024px;

	transition-property: position;
	transition-duration: 0.06s;
	transition-timing-function: linear;

	margin: 0px;

	//opacity: 0.7;
}

.EventsContainer {
	width: 100%;
	height: 100%;

	z-index: 100;
}

.Event {
    width: 60px;
    height: 60px;
}

.Event #Icon {
    width: 30px;
    height: 30px;

	background-size: 100% 100%;
	
    align: center center;

    animation-duration: 0.7s;
    animation-iteration-count: 999;
    animation-timing-function: ease-in-out;
    animation-name: Resizing;
}

@keyframes 'Resizing'
{
    0%
    {
        transform: scale3d( 2, 2, 1);
    }    
	50%
    {
 		transform: scale3d( 0.2, 0.2, 1);
    }
    
    100%
    {
		transform: scale3d( 2, 2, 1);
    }
}

#MousePanningImage {
	visibility: collapse;
}

#FogMap
{
	background-color: red;
    width: 100%;
    height: 100%;
}

/* Marks */
.Mark {
	width: 50px;
	height: 50px;

	z-index: 1;
}

.Mark #Icon {
	width: 30px;
	height: 30px;

	vertical-align: center;
	horizontal-align: center;

	background-size: 100% 100%;

	z-index: 2;
}

.alarm {
	width: 100%;
	height: 100%;

	vertical-align: center;
	horizontal-align: center;

	visibility: collapse;
}

.ping-circle {
	width: 30px;
	height: 30px;

	vertical-align: center;
	horizontal-align: center;	

	border-radius: 50%;
	border: 1px solid green;

	z-index: 1;
}

.ping-circle.anim1 {
    animation-duration: 1.7s;
    animation-iteration-count: 999;
    animation-timing-function: ease-in-out;
    animation-name: ping-circle;
}

.ping-circle.anim2 {
    animation-duration: 1.7s;
    animation-delay: 0.8s;
    animation-iteration-count: 999;
    animation-timing-function: ease-in-out;
    animation-name: ping-circle;
}

@keyframes 'ping-circle'
{
    0%
    {
        transform: scale3d( 0.5, 0.5, 1);
    }    
    
    100%
    {
		transform: scale3d( 1.3, 1.3, 1);
    }
}

/*	Obelisk	*/
.obelisk #Icon {
	background-image: url("file://{images}/custom_game/minimap/temple/obelisk.png");
}

.obelisk .alarm {
	visibility: visible;
}

/*	Wagon	*/
.wagon #Icon {
	background-image: url("file://{images}/custom_game/minimap/mines/wagon.png");
}

.wagon .alarm {
	visibility: visible;
}

.hero {
	z-index: 2;
}