#ItemImage {
	width: 150px;
	height: 110px;
}

.rarity-normal {
	box-shadow: inset #ffffff60 1px 1px 10px 2px;
}

.rarity-good {
	box-shadow: inset #00ff0060 1px 1px 10px 2px;
}

.rarity-best {
	box-shadow: inset #0000ff60 1px 1px 10px 2px;
}

.rarity-rare {
	box-shadow: inset #ff00ff60 1px 1px 10px 2px;
}

.rarity-unique {
	box-shadow: inset #ffb40060 1px 1px 10px 2px;
}

.rarity-epic {
	box-shadow: inset #ff000060 1px 1px 10px 2px;
}


.rarity-normal-text {
	color: #ffffff;
}

.rarity-good-text {
	color: #00ff00;
}

.rarity-best-text {
	color: #0000ff;
}

.rarity-rare-text {
	color: #ff00ff;
}

.rarity-unique-text {
	color: #ffb400;
}

.rarity-epic-text {
	color: #ff0000;
}

.gem-slot {
	width: 100%;
	height: 53px;

	flow-children: right;
}

.gem-slot-image {
	width: 67px;
	height: 53px;

	margin-right: 8px;
	margin-bottom: 4px;

	horizontal-align: left;
}

.gem-slot-desc {
	width: 100%;
	height: 100%;
}