#ItemImage {
	width: 150px;
	height: 110px;
}

.rarity-normal {
	box-shadow: inset #ffffff60 1px 1px 10px 2px;
}

.rarity-magic {
	box-shadow: inset #0000ff60 1px 1px 10px 2px;
}

.rarity-rare {
	box-shadow: inset #FFFF0060 1px 1px 10px 2px;
}

.rarity-epic {
	box-shadow: inset #FFA50060 1px 1px 10px 2px;
}

.rarity-legendary {
	box-shadow: inset #FF00FF60 1px 1px 10px 2px;
}


.rarity-normal-text {
	color: #ffffff;
}

.rarity-magic-text {
	color: #0000ff;
}

.rarity-rare-text {
	color: #FFFF00;
}

.rarity-legendary-text {
	color: #FFA500;
}

.rarity-epic-text {
	color: #FF00FF;
}

.gem-slot {
	width: 100%;
	height: 53px;

	flow-children: right;
}

.gem-slot-image {
	width: 67px;
	height: 53px;

	margin-right: 8px;
	margin-bottom: 4px;

	horizontal-align: left;
}

.gem-slot-desc {
	width: 100%;
	height: 100%;

	text-shadow: 1px 1px 1px black;
	text-align: center;
	/*text-transform: uppercase;*/
	text-overflow: clip;

	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
	color: White;
}

#GemSlot_Desc_Text {
	margin-top: 7px;
	vertical-align: center;
}