#ItemImage {
	width: 150px;
	height: 110px;
}

.rarity-normal {
	box-shadow: inset #ffffff60 1px 1px 10px 2px;
}

.rarity-magic {
	box-shadow: inset #3d50c5 1px 1px 10px 2px;
}

.rarity-rare {
	box-shadow: inset #ffea00 1px 1px 10px 2px;
}

.rarity-epic {
	box-shadow: inset #FFA50060 1px 1px 10px 2px;
}

.rarity-legendary {
	box-shadow: inset #FF00FF60 1px 1px 10px 2px;
}


.rarity-normal-text {
	color: #ffffff;
}

.rarity-magic-text {
	color: #3d50c5;
}

.rarity-rare-text {
	color: #ffea00;
}

.rarity-legendary-text {
	color: #FFA500;
}

.rarity-epic-text {
	color: #FF00FF;
}

.modifier-slot {
	width: 100%;
	height: 25px;

	flow-children: right;
}

.gem-slot {
	width: 100%;
	height: 53px;

	flow-children: right;
}

.gem-slot-image {
	width: 67px;
	height: 53px;

	margin-right: 8px;
	margin-bottom: 4px;

	horizontal-align: left;
}

.gem-slot-desc {
	width: 100%;
	height: 100%;

	text-shadow: 1px 1px 1px black;
	text-align: center;
	/*text-transform: uppercase;*/
	text-overflow: clip;

	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	color: White;
}

#GemSlot_Desc_Text {
	margin-top: 7px;
	vertical-align: center;
}

#ModifierText {
	text-shadow: 1px 1px 1px black;
	text-align: center;

	font-size: 16px;
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	color: White;
}

#Count {
	horizontal-align: right;
	vertical-align: bottom;

	margin: 5px;
	margin-bottom: -4px;

	text-shadow: 2px 2px 8px 3.0 #333333b0;
	text-align: center;

	font-size: 25px;
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	color: White;
}