.Item {
	/*height: 60px;*/
	background-color: black;

	visibility: collapse;
}

.AltPressed .Item {
	visibility: visible;
}

#ItemButton {
	flow-children: down;
}

.Item:hover {
	background-color: #3F51B5;
	z-index: 1000;
}

.ItemLabel {
	align: center center;

	padding-left: 20px;
	padding-right: 20px;

	text-align: center;
	text-transform: uppercase;
	text-overflow: clip;

	font-weight: bold;
	font-size: 21px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
}

#ItemCaptionLabel {
	/*color: White;*/
}

.RarityBorder1 {
	border: 1px solid White;
}

.RarityBorder2 {
	border: 1px solid #3d50c5FF;
}

.RarityBorder3 {
	border: 1px solid #ffea00FF;
}

.RarityBorder4 {
	border: 2px solid #FFA500FF;
}

.RarityBorder5 {
	border: 2px solid #FF00FFFF;
}

.RarityBorderRune {
	border: 1px solid #FF1E1E;
	background-color: #2E5399;
	color: White;
}

.RarityBorderRune:hover {
	wash-color: #bbbbbb;
}

.RarityForging {
	color: #C8A082;
}

.RarityBorderForging {
	border: 1px solid #C8A082;
	background-color: black;
	color: #C8A082;
}

.RarityBorderForging:hover {
	wash-color: #bbbbbb;
}

