/*
  Treasure
*/

.SmallTreasure.Outer,
.BigTreasure.Outer,
{
  width: 350px;
  height: 294px;

  border-color: transparent;
  border-radius: 7px;

  background-size: 100% 100%;

  background-color: transparent;
}

.SmallTreasure.Outer {
  background-image: url('file://{images}/custom_game/ingame_ui/treasure_bg_small.png');
}

.BigTreasure.Outer {
  background-image: url('file://{images}/custom_game/ingame_ui/treasure_bg_big.png');
}

.SmallTreasure #Header,
.BigTreasure #Header,
{
  height: 76px;
  background-color: transparent;
}

.SmallTreasure #ChargeCount,
.BigTreasure #ChargeCount,
{
  horizontal-align: right;
  color: White;
  font-size: 17px;
  margin-right: 5px;
  margin-bottom: 1px;
}

.SmallTreasure #Footer,
.BigTreasure #Footer,
{
  margin-bottom: 14px;
}

.SmallTreasure #HeaderLabel,
.BigTreasure #HeaderLabel,
{ 
  visibility: collapse;
}

.SmallTreasure #Inner,
.BigTreasure #Inner,
{
  border-color: transparent;
  background-color: transparent;

  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.SmallTreasure .ItemRow,
.BigTreasure .ItemRow,
{
  margin-top: 7px;
  margin-bottom: 0px;

  background-color: transparent;
} 

.SmallTreasure .ItemPanel,
.BigTreasure .ItemPanel,
{
  width: 81px;
  height: 60px;

  margin-right: 6px;
  margin-left: 6px;

  box-shadow: fill #000000ff 0px 0px 12px 0px;
  border-radius: 6px;
}

.SmallTreasure .CloseButton,
.BigTreasure .CloseButton,
{
  visibility: collapse;
}

.SmallTreasure .CloseButton:hover,
.BigTreasure .CloseButton:hover,
{
  wash-color: #bbbbbb;
}

/*
  Equipment
*/

.Equipment.Outer
{
  margin-top: 51px;
  margin-left: 32px;

  width: 496px;
  height: 464px;

  background-color: transparent;

  border-color: transparent;
  border-radius: 7px;

  flow-children: none;
}

.Equipment #Header
{
  background-color: transparent;
  visibility: collapse;
}

.Equipment #Footer
{
  
}

.Equipment #HeaderLabel
{ 
  visibility: collapse;
}

.Equipment #Inner
{
  margin: 0px;
  align: center top;

  border-color: transparent;
  background-color: transparent;

  flow-children: none;
}

.Equipment .ItemRow
{
  margin-top: 3px;
  margin-bottom: 2px;
  background-color: transparent;
} 

.Equipment #row1
{
  clip: rect(-100%, 200%, 200%, -100%);
  background-color: transparent;

  flow-children: none;
}

.Equipment #slot2
{
  margin-top: 85px;
  margin-right: 240px;
}

.Equipment #slot3
{
  margin-top: 85px;
}

.Equipment #slot4
{
  margin-top: 85px;
  margin-left: 234px;
}

.Equipment #slot5
{
  margin-top: 170px;
}

.Equipment #slot6
{
  margin-top: 255px;
}

.Equipment .ItemPanel
{
  align: center top;

  margin: 0px;

  width: 95px;
  height: 68px;

  border-radius: 1px;

  box-shadow: fill #000000ff 0px 0px 12px 0px;
}

.Equipment .CloseButton {
  visibility: collapse;
}

/*
  Inventory
*/

.Inventory.Outer
{
  width: 496px;
  height: 460px;

  border-color: transparent;
  border-radius: 7px;

  background-color: transparent;
}

.Inventory #Header
{
  height: 20px;
  background-color: transparent;
}

.Inventory #ChargeCount
{
  horizontal-align: right;
  color: White;
  font-size: 17px;
  margin-right: 5px;
  margin-bottom: 1px;
}

.Inventory #Footer
{
  
}

.Inventory #HeaderLabel
{ 
  visibility: collapse;
}

.Inventory #Inner
{
  border-color: transparent;
  background-color: transparent;

  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.Inventory .ItemRow
{
  margin-top: 2px;
  margin-bottom: 0px;

  background-color: transparent;
} 

.Inventory .ItemPanel
{
  width:81px;
  height:60px;

  box-shadow: fill #000000ff 0px 0px 12px 0px;
  border-radius: 6px;
}

.Inventory .CloseButton {
  visibility: collapse;
}

.Inventory .CloseButton:hover
{
  wash-color: #bbbbbb;
}

/*
  Trade containers
*/

.Trade.Outer
{
  width: 800px;
  height: 140px;

  border-color: transparent;
  background-color: transparent;
}

.Trade #ChargeCount
{
  horizontal-align: right;
  color: White;
  font-size: 17px;
  margin-right: 5px;
  margin-bottom: 1px;
}

.Trade #Header
{
  height: 0px;
  background-color: transparent;
}

.Trade #Footer
{
  
}

.Trade #HeaderLabel
{ 
  color: transparent;
}

.Trade #Inner
{
  margin: 0px;
  border-color: transparent;
  background-color: transparent;
}

.Trade .ItemRow
{
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: transparent;
} 

.Trade .ItemPanel
{
  width: 79px;
  height: 58px;

  box-shadow: fill #000000ff 0px 0px 12px 0px;
  border-radius: 6px;
}

.Trade .CloseButton {
  visibility: collapse;
  opacity: 0.0;
}

/*
  Misc
*/

@keyframes 'goleft'
{
  0%   {transform: translateX( 0px ) translateY( 0px );}
  50%  {transform: translateX( -50px ) translateY( 0px );}
  100% {transform: translateX( 0px ) translateY( 0px );}
}

@keyframes 'goright'
{
  0%   {transform: translateX( 0px ) translateY( 0px );}
  50%  {transform: translateX( 50px ) translateY( 0px );}
  100% {transform: translateX( 0px ) translateY( 0px );}
}



.SmallItems .ItemPanel
{
  width:33px;
  height:24px;
  margin:1px;
}

.SmallItems .ItemRow
{
  margin-top: 1px;
  margin-bottom: 1px;
}