.CCSAbilitySelection {
	vertical-align: center;

	width: 128px;
	height: 100%;

	margin-left: 8px;
	margin-right: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.CCSAbilityPanel {
	vertical-align: center;

	width: 128px;
	height: 128px;

	transition-property: opacity, position;
	transition-duration: 0.4s, 0.4s;
	transition-timing-function: linear, ease-in-out;

	box-shadow: fill #00000080 0px 0px 12px 0px;
}

.CCSAbilityPanel.selected {
	border-top: 4px solid #b5a33fff;
	border-right: 4px solid #b5a33fff;
	border-left: 4px solid #b5a33fff;
	border-bottom: 4px solid #b5a33fff;

	border-radius: 5px;
}

#CCSAbilityBorderInner {
	width: 100%;
	height: 100%;

	align: center center;

	background-image: url("file://{images}/custom_game/ingame_ui/ability_border_inner.png");
	background-size: 100% 100%;
	background-position: 50% 50%;
}

.CCSSelectableAbilityBorderInner {
	hue-rotation: 275deg;
}

#CCSAbilityBorderOuter {
	width: 100%;
	height: 100%;

	align: center center;

	/*background-image: url("file://{images}/custom_game/ingame_ui/ability_border_outer.png");*/
	background-size: 100% 100%;
	background-position: 50% 50%;
}

#CCSAbilityButton {
	align: center center;

	width: 100%;
	height: 100%;

	transition-property: opacity, position;
	transition-duration: 0.4s, 0.4s;
	transition-timing-function: linear, ease-in-out;
}

#CCSAbilityImage {
	align: center center;

	width: 85%;
	height: 85%;
}

.AbilityContextMenu {
	width: 100%;
	height: 100%;

	opacity: 1.0;

	vertical-align: top;

	border-width: 0px;
}

.ContextMenuAbility {
	align: center center;

	width: 98px;
	height: 98px;

	position: 0px 0px 0px;

	border-width: 0px;
}

.HideAbility {
	opacity: 0.0;
}

#Hotkey
{
	margin-left: -1px;
	margin-top: 10px;

	vertical-align: top;
	horizontal-align: center;
}