.CardRoot {
	margin: 2px;

	width: 284px;
	height: 430%;

	border: 2px solid black;

	background-color: green;
}

.CharacterListOverlap {
	width: 100%;
	height: 100%;

	background-image: url('file://{images}/custom_game/ingame_ui/character_card.png');
	background-size: 100% 100%;
}

#HeroImage {
	width: 100%;
	height: 170px;
}