.CCSAbilityPanel {
	vertical-align: center;

	width: 128px;
	height: 128px;

	margin-left: 8px;
	margin-right: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.CCSAbilityPanel.selected {
	border-top: 4px solid #b5a33fff;
	border-right: 4px solid #b5a33fff;
	border-left: 4px solid #b5a33fff;
	border-bottom: 4px solid #b5a33fff;

	border-radius: 5px;
}

#CCSAbilityButton {
	width: 128px;
	height: 128px;
	border: 2px solid transparent;
}

#CCSAbilityImage {
	width: 120px;
	height: 120px;
}