DOTANetGraph
{
	flow-children: right;
	visibility: collapse;
}

DOTANetGraph.Visible
{
	visibility: visible;
}

#LeftColumn
{
	flow-children: down;
	width: 100px;
}

#RightColumn
{
	flow-children: down;
	width: 140px;
}

Label
{
	font-size: 20px;
	color: #8F8F8F;
}

.AspectRatio4x3 #LeftColumn Label
{
	font-size: 15px;
}

.AspectRatio4x3 #RightColumn Label
{
	font-size: 15px;
}