.Mark {
	width: 15px;
	height: 15px;

	z-index: 1;
}

.Mark:hover {
	width: 30px;
	height: 30px;
}

.hero {
	width: 30px;
	height: 30px;

	z-index: 2;
}

.square {
	border: 1px solid black;
}

.green {
	background-color: green;
}

.red {
	background-color: red;
	z-index: 2;
}

.yellow {
	background-color: yellow;
}

.white {
	background-color: white;
}