.Event {
    animation-duration: 0.7s;
    animation-iteration-count: 999;
    animation-timing-function: ease-in-out;
    animation-name: Resizing;
}

@keyframes 'Resizing'
{
    0%
    {
        transform: scale3d( 2, 2, 1);
    }    
	50%
    {
 		transform: scale3d( 0.2, 0.2, 1);
    }
    
    100%
    {
		transform: scale3d( 2, 2, 1);
    }
}